#content {
  margin: 0 auto;
  max-width: 42rem;
  padding: 1rem;
  margin-top: 1rem;
}

.no-underline {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #404040;
  background-color: #ffffff;
  font-family: 'Literata', 'PT Serif', Georgia, 'Times New Roman', serif;
  line-height: 1.5;
  font-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 800;
  line-height: 1.5rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

a {
  color: #0076df;
}

a:visited {
  color: #00488a;
}

a:hover,
a:focus,
a:active {
  border: 0;
  color: #000a13;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
}

strong a {
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

p,
dl,
ol,
ul {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media screen and (min-width: 32em) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 48em) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 64em) {
  html {
    font-size: 20px;
  }
}
